<%= form_with(model: sleep_report, local: true) do |form| %>
  <% if sleep_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sleep_report.errors.count, "error") %> prohibited this sleep_report from being saved:</h2>

      <ul>
      <% sleep_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asleep_at %>
    <%= form.datetime_select :asleep_at %>
  </div>

  <div class="field">
    <%= form.label :wakeup_at %>
    <%= form.datetime_select :wakeup_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
