<%= link_to 'New Sleep Report', new_sleep_report_path, class: "btn btn-outline-primary" %>&nbsp;
<% if @sleep_reports.latest&.complete? %>
  <%= link_to 'Start Sleep', start_sleep_reports_path, method: :post, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Stop Sleep', stop_sleep_reports_path, method: :patch, class: "btn btn-danger" %>
<% end %>

<br><br>

<% @sleep_reports.ordered_by_recency.reverse.each do |sleep_report| %>
  <%= render 'card', sleep_report: sleep_report %>
  <br>
  <% if (sleep_report.days_since_previous || 0) >= 2 %>
    <div class="card card-banner card-cap-bg">
      <p>Missing <%= pluralized_days_content(sleep_report.days_since_previous - 1) %></p>
    </div>
    <br>
  <% end %>
<% end %>