<div class="card">
  <div class="card-header <%= sleep_color_class(sleep_report) %>">
    <div class="row">
      <div class="col text-left">
        <% if sleep_report.complete? %>
          &nbsp<span class="badge badge-light "><%= sleep_report.score_grade %></span>
        <% end %>
      </div>
      <div class="col-7 text-center">
        <%= sleep_report.date.strftime('%a, %b %d, %Y') %>
      </div>
      <div class="col text-right">
        <%= link_to edit_sleep_report_path(sleep_report) do %>
          <%= octicon "pencil", :height => 16 %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to sleep_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= octicon "trashcan", :height => 16 %>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <td>Asleep</td>
      <td><b><%= sleep_report.asleep_at.strftime('%I:%M %p') %></b></td>
      <td>Duration</td>
      <td><b><%= sleep_report.complete? ? sleep_report.strf_duration('%H:%M') : "N/A" %></b></td>
    </tr>
    <tr>
      <td>Wakeup</td>
      <td><b><%= sleep_report.wakeup_at.strftime('%I:%M %p') if sleep_report.complete? %></b></td>
      <td>Score: </td>
      <td>
        <% if sleep_report.complete? %>
          <b><%= sleep_report.score.round %>%</b>
        <% end %>
      </td>
    </tr>
  </table>
</div>