<div class="card">
  <div class="card-header <%= 'alert-dark' unless sleep_report.complete? %>">
    <div class="row">
      <div class="col text-left">
      </div>
      <div class="col-7 text-center">
        <%= sleep_report.date.strftime('%a, %b %d, %Y') %>
      </div>
      <div class="col text-right">
        <%= link_to edit_sleep_report_path(sleep_report) do %>
          <%= octicon "pencil", :height => 16 %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to sleep_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= octicon "trashcan", :height => 16 %>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <td>Asleep</td>
      <td>Wakeup</td>
      <td>Duration</td>
      <td>Average</td>
    </tr>
    <tr>
      <td><b><%= sleep_report.asleep_at.strftime('%I:%M %p') %></b></td>
      <% if sleep_report.complete? %>
        <td><b><%= sleep_report.wakeup_at.strftime('%I:%M %p') %></b></td>
        <td style='color: <%= sleep_duration_color_style(sleep_report.duration) %>; font-size: 22px'>
          <b><%= sleep_report.duration.strftime('%-H:%M') %></b>
        </td>
        <% if @sleep_reports.accuracy(sleep_report) &.> 0.8 %>
          <td style='color: <%= sleep_duration_color_style(@sleep_reports.exp_avg(sleep_report)) %>; font-size: 22px'>
            <b><%= @sleep_reports.exp_avg(sleep_report).strftime('%-H:%M')%></b>
          </td>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>