<h1>Sleep Reports</h1>

<%= link_to 'New Sleep Report', new_sleep_report_path, class: "btn btn-outline-primary" %>&nbsp;
<% if @sleep_reports.latest.complete? %>
  <%= link_to 'Start Sleep', sleep_start_path, method: :post, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Stop Sleep', sleep_stop_path, method: :patch, class: "btn btn-danger" %>
<% end %>

<br><br>

<% @sleep_reports.ordered_by_recency.reverse.each do |sleep_report| %>
  <div class="card">
    <div class="card-header">
      <%= sleep_report.date.strftime('%a, %b %d, %Y') %>
      <div style="float:right;">
        <%= link_to edit_sleep_report_path(sleep_report) do %>
          <%= octicon "pencil", :height => 16 %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to sleep_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= octicon "trashcan", :height => 16 %>
        <% end %>
      </div>
    </div>
    <table class="table" style="margin-bottom: 0; table-layout:fixed">
      <tr>
        <td>Asleep</td>
        <td><b><%= sleep_report.asleep_at.strftime('%I:%M %p') %></b></td>
        <td>Duration</td>
        <td><b><%= sleep_report.complete? ? Time.at(sleep_report.duration_seconds).utc.strftime('%H:%M') : "N/A" %></b></td>
      </tr>
      <tr>
        <td>Wakeup</td>
        <td><b><%= sleep_report.wakeup_at.strftime('%I:%M %p') if sleep_report.complete? %></b></td>
        <td>Score: </td>
        <td><b><%= sleep_report.score.round if sleep_report.complete? %></b></td>
      </tr>
    </table>
  </div>
  <br>
<% end %>