<h1>Sleep Reports</h1>

<%= alert_sleep_report_reminder %>

<%= link_to 'New Sleep Report', new_sleep_report_path, class: "btn btn-outline-primary" %>&nbsp;
<% if @sleep_reports.latest.complete? %>
  <%= link_to 'Start Sleep', sleep_start_path, method: :post, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Stop Sleep', sleep_stop_path, method: :patch, class: "btn btn-danger" %>
<% end %>

<br><br>

<% @sleep_reports.ordered_by_recency.reverse.each do |sleep_report| %>
  <%= render 'sleep_card', sleep_report: sleep_report %>
  <br>
  <% if (days_since_previous(sleep_report) || 0) >= 2 %>
    <div class="card card-banner card-cap-bg">
      <p>Missing <b><%= days_since_previous(sleep_report) - 1%></b> days</p>
    </div>
    <br>
  <% end %>
<% end %>