<h1>Sleep Reports</h1>

<%= link_to 'New Sleep Report', new_sleep_report_path, class: "btn btn-primary" %>&nbsp;
<% if @sleep_reports.latest.complete? %>
  <%= link_to 'Start Sleep', sleep_start_path, method: :post, class: "btn btn-success" %>
<% else %>
  <%= link_to 'Stop Sleep', sleep_stop_path, method: :patch, class: "btn btn-danger" %>
<% end %>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Asleep</th>
      <th>Wakeup</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sleep_reports.ordered_by_recency.reverse.each do |sleep_report| %>
      <tr>
        <td><%= sleep_report.asleep_at.strftime('%Y-%m-%d') %></td>
        <td><%= sleep_report.asleep_at.strftime('%I:%M %p') %></td>
        <td><%= sleep_report.wakeup_at&.strftime('%I:%M %p') %></td>
        <td><%= Time.at(sleep_report.duration_seconds).utc.strftime('%H:%M') if sleep_report.complete? %></td>
        <td nowrap>
          <%= link_to edit_sleep_report_path(sleep_report) do %>
            <%= octicon "pencil", :height => 16 %>
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to sleep_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= octicon "trashcan", :height => 16 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
