<%= form_for @cardio_report do |form| %>
  <label>Date</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= date_field(:cardio_report, :date, class: "form-control") %>
    </div>
  </div>

  <label>Type</label>
  <div class="row">
    <div class="btn-group btn-group-toggle d-flex mb-3 col-lg-4" data-toggle="buttons">
      <label class="btn w-100 btn-light <%= "active" if cardio_report.run_treadmill? %>">
        <%= radio_button_tag("cardio_report[activity_type]", "run_treadmill", cardio_report.run_treadmill?) %>
        <%= image_tag("icons8-treadmill-96.png", size:"24x24", title: "Treadmill") %>
      </label>
      <label class="btn w-100 btn-light <%= "active" if cardio_report.run_outdoors? %>">
        <%= radio_button_tag("cardio_report[activity_type]", "run_outdoors", cardio_report.run_outdoors?) %>
        <%= image_tag("icons8-running-96.png", size:"24x24", title: "Treadmill") %>
      </label>
      <label class="btn w-100 btn-light <%= "active" if cardio_report.hike? %>">
        <%= radio_button_tag("cardio_report[activity_type]", "hike", cardio_report.hike?)%>
        <%= image_tag("icons8-trekking-96.png", size:"24x24", title: "Treadmill") %>
      </label>
    </div>
  </div>
  
  <div id="duration-input">
    <label>Duration</label>
    <div class="row">
      <div class="btn-group mb-3 col-lg-4">
        <div class="input-group">
          <%= number_field(:cardio_report, :part_minutes, step: 1, class: "form-control", value: cardio_report.duration&.part_minutes) %>
          <div class="input-group-append">
            <span class="input-group-text">minutes</span>
          </div>
        </div>
        <div style="width: 10%"></div>
        <div class="input-group">
          <%= number_field(:cardio_report, :part_seconds, step: 1, class: "form-control", value: cardio_report.duration&.part_seconds) %>
          <div class="input-group-append">
            <span class="input-group-text">seconds</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <label>Distance</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= number_field(:cardio_report, :distance_miles, step: 0.1, class: "form-control") %>
      <div class="input-group-append">
        <span class="input-group-text">miles</span>
      </div>
    </div>
  </div>
    
  <hr>
  <button type="submit" class="btn btn-primary btn">Submit</button>&nbsp;&nbsp;
  <%= link_to "Back", cardio_reports_path, class: "btn btn-outline-secondary btn" %>
<% end %>
