<%= bootstrap_form_with(model: cardio_report, local: true) do |form| %>
  <label>Date</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4 input-group">
      <%= date_field(:cardio_report, :datestamp, class: "form-control") %>
    </div>
  </div>
  
  <label>Duration</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4 input-group align-input-right">
      <%= number_field(:cardio_report, :part_minutes, step: 1, class: "form-control", value: part_minutes(cardio_report)) %>
      <div class="input-group-append">
        <span class="input-group-text">m</span>
      </div>
      <%= number_field(:cardio_report, :part_seconds, step: 1, class: "form-control", value: part_seconds(cardio_report)) %>
      <div class="input-group-append">
        <span class="input-group-text">s</span>
      </div>
    </div>
  </div>

  
  <label>Distance</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4 input-group">
      <%= number_field(:cardio_report, :distance_miles, step: 0.1, class: "form-control") %>
      <div class="input-group-append">
        <span class="input-group-text">miles</span>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= form.check_box :treadmill, label: "Treadmill?", custom: true %>
  </div>
  
  <hr>
  <button type="submit" class="btn btn-primary btn">Submit</button>&nbsp;&nbsp;
  <%= link_to "Back", cardio_reports_path, class: "btn btn-outline-secondary btn" %>
<% end %>
