<%= form_for @cardio_report do |form| %>
  <label>Date</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= date_field(:cardio_report, :date, class: "form-control") %>
    </div>
  </div>
  
  <label>Duration</label>
  <div class="row">
    <div class="btn-group mb-3 col-lg-4">
      <div class="input-group">
        <%= number_field(:cardio_report, :part_minutes, step: 1, class: "form-control", value: cardio_report.duration&.part_minutes) %>
        <div class="input-group-append">
          <span class="input-group-text">minutes</span>
        </div>
      </div>
      <div style="width: 10%"></div>
      <div class="input-group">
        <%= number_field(:cardio_report, :part_seconds, step: 1, class: "form-control", value: cardio_report.duration&.part_seconds) %>
        <div class="input-group-append">
          <span class="input-group-text">seconds</span>
        </div>
      </div>
    </div>
  </div>

  
  <label>Distance</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= number_field(:cardio_report, :distance_miles, step: 0.1, class: "form-control") %>
      <div class="input-group-append">
        <span class="input-group-text">miles</span>
      </div>
    </div>
  </div>

  <label>Type</label>
  <div class="row">
    <div class="btn-group btn-group-toggle d-flex mb-3 col-lg-4" data-toggle="buttons">
      <label class="btn w-100 btn-outline-secondary <%= "active" if cardio_report.activity_type == "treadmill" %>">
        <%= radio_button_tag("cardio_report[activity_type]", "treadmill", cardio_report.activity_type == "treadmill") %> Treadmill
      </label>
      <label class="btn w-100 btn-outline-secondary <%= "active" if cardio_report.activity_type == "running" %>">
        <%= radio_button_tag("cardio_report[activity_type]", "running", cardio_report.activity_type == "running") %> Running
      </label>
      <label class="btn w-100 btn-outline-secondary <%= "active" if cardio_report.activity_type == "hiking" %>">
        <%= radio_button_tag("cardio_report[activity_type]", "hiking", cardio_report.activity_type == "hiking") %> Hiking
      </label>
    </div>
  </div>
    
  <hr>
  <button type="submit" class="btn btn-primary btn">Submit</button>&nbsp;&nbsp;
  <%= link_to "Back", cardio_reports_path, class: "btn btn-outline-secondary btn" %>
<% end %>
