<%= bootstrap_form_with(model: cardio_report, local: true) do |form| %>
  <%= form.date_select :datestamp, label: "Date" %>

  <%= form.label :duration %>
  <div class="input-group">
    <%= form.select :part_hours, options_for_select(0..10, cardio_report.duration_time.hour), hide_label: true, append: "h" %>
    <%= form.select :part_minutes, options_for_select(0..59, cardio_report.duration_time.min), hide_label: true, append: "m" %>
    <%= form.select :part_seconds, options_for_select(0..59, cardio_report.duration_time.sec), hide_label: true, append: "s" %>
  </div>
  
  <%= form.number_field :distance_miles, label: "Distance", step: :any, append: "miles" %>

  <div class="form-group">
    <%= form.check_box :treadmill, label: "Treadmill?", custom: true %>
  </div>
  
  <%= form.submit class: "btn btn-primary" %>
<% end %>
