<h1>Cardio Reports</h1>

<%= link_to 'New Cardio Report', new_cardio_report_path, class: "btn btn-primary" %>

<br><br>

<% @cardio_reports.ordered_by_recency.reverse.each do |cardio_report| %>
  <div class="card">
    <div class="card-header">
      <%= cardio_report.datestamp.strftime('%a, %b %d, %Y') %>
      <div style="float:right;">
        <%= link_to edit_cardio_report_path(cardio_report) do %>
          <%= octicon "pencil", :height => 16 %>
        <% end %>
        &nbsp;
        <%= link_to cardio_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= octicon "trashcan", :height => 16 %>
        <% end %>
      </div>
    </div>
    <table class="table" style="margin-bottom: 0">
      <tr>
        <td>Duration</td>
        <td><b><%= cardio_report.duration_time.strftime('%M:%S') %></b></td>
        <td>Speed</td>
        <td><b><%= '%.1f' % cardio_report.speed %></b> mph</td>
      </tr>
      <tr>
        <td>Distance</td>
        <td><b><%= '%.1f' % cardio_report.distance_miles %></b> miles</td>
        <td>Calories</td>
        <td><b><%= cardio_report.calories.to_i %></b> kcal</td>
      </tr>
    </table>
    <% if cardio_report.ranking_by_calories <= 10 %>
      <footer class="card-footer text-muted">
        <i>#<%= cardio_report.ranking_by_calories %> most calories burned</i>
      </footer>
    <% end %>
  </div>
  <br>
<% end %>