<h1>Cardio Reports</h1>

<%= link_to 'New Cardio Report', new_cardio_report_path, class: "btn btn-primary" %>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Miles</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardio_reports.ordered_by_recency.reverse.each do |cardio_report| %>
      <tr>
        <td><%= cardio_report.datestamp.strftime('%Y-%m-%d') %></td>
        <td><%= cardio_report.duration_time.strftime('%M:%S') %></td>
        <td><%= '%.1f' % cardio_report.distance_miles %></td>
        <td nowrap>
          <%= link_to edit_cardio_report_path(cardio_report) do %>
            <%= octicon "pencil", :height => 16 %>
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to cardio_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= octicon "trashcan", :height => 16 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>