<h1>Cardio Reports</h1>

<%= alert_cardio_report_reminder %>
<%= alert_cardio_report_calories %>

<%= link_to 'New Cardio Report', new_cardio_report_path, class: "btn btn-outline-primary" %>

<br><br>

<% @cardio_reports.ordered_by_recency.reverse.each do |cardio_report| %>
  <%= render 'cardio_card', cardio_report: cardio_report %>
  <br>
  <% if (days_since_previous_cardio(cardio_report) || 0) >= 7 %>
    <div class="card card-banner <%= days_since_previous_cardio(cardio_report) < 30 ? 'alert-warning' : 'alert-danger' %>">
      <p>No running <b><%= days_since_previous_cardio(cardio_report) %></b> days</p>
    </div>
    <br>
  <% end %>
<% end %>
