<h1>Cardio Summary</h1>
<br>

<h4>On <b><%= @cardio_report.datestamp.to_formatted_s(:long) %></b></h4>
<br>

<h4>You ran <b><%= '%g' % @cardio_report.distance_miles %></b> miles</h4>
<br>

<h4>
  In <b><%= @cardio_report.duration_minutes_part %></b> minutes
     <b><%= @cardio_report.duration_seconds_part %></b> seconds
</h4>
<br>

<%= link_to 'Back', cardio_reports_path, class: "btn btn-outline-secondary" %>&nbsp;
<%= link_to 'Edit', edit_cardio_report_path(@cardio_report), class: "btn btn-outline-secondary" %>
