<p>
  <strong>Finished at:</strong>
  <%= @cardio_report.datestamp %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @cardio_report.duration_time.strftime('%H:%M:%S') %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @cardio_report.distance_miles %>
</p>

<p>
  <strong>Treadmill?:</strong>
  <%= @cardio_report.treadmill %>
</p>

<%= link_to 'Edit', edit_cardio_report_path(@cardio_report) %> |
<%= link_to 'Back', cardio_reports_path %>
