<h1>Weight Reports</h1>

<%= link_to 'New Weight Report', new_weight_report_path, class: "btn btn-primary" %>

<br><br>

<%= line_chart WeightReport.pluck(:datestamp, :weight_pounds),  min: 160, max: 190 %>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_reports.ordered_by_recency.reverse.each do |weight_report| %>
      <tr>
        <td><%= weight_report.datestamp.strftime('%Y-%m-%d') %></td>
        <td><b><%= '%.1f' % weight_report.weight_pounds %></b> lb</td>
        <td nowrap>
          <%= link_to edit_weight_report_path(weight_report) do %>
            <%= octicon "pencil", :height => 16 %>
          <% end %>
          &nbsp;&nbsp;
          <%= link_to weight_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= octicon "trashcan", :height => 16 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>