<h1>Weight Reports</h1>

<%= alert_weight_report_reminder %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#table" data-toggle="tab">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#analysis" data-toggle="tab" onclick="renderWeightPlot()">Analysis</a>
  </li>
</ul>
<br>

<div class="tab-content">
  <div id="table" class="tab-pane active show">
    <%= link_to 'New Weight Report', new_weight_report_path, class: "btn btn-outline-primary" %>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>EMA</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @weight_reports.ordered_by_recency.reverse.each do |weight_report| %>
          <tr>
            <td><%= weight_report.datestamp.strftime('%Y-%m-%d') %></td>
            <td><b><%= '%.1f' % weight_report.weight_pounds %></b> lb</td>
            <td><b><%= '%.1f' % @weight_exp_avg_calculator.fetch(weight_report) %></b> lb</td>
            <td nowrap>
              <%= link_to edit_weight_report_path(weight_report) do %>
                <%= octicon "pencil", :height => 16 %>
              <% end %>
              &nbsp;&nbsp;
              <%= link_to weight_report, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= octicon "trashcan", :height => 16 %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="analysis" class="tab-pane">
    <h2>Averages</h2>
    <div class="card">
      <table class="table text-center">
        <thead>
          <tr>
            <th><b>1-week</b></h5></th>
            <th><b>1-month</b></h5></th>
            <th><b>3-months</b></h5></th>
            <th><b>1-year</b></h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h4><%= current_average_weight(days=7) %></h4></td>
            <td><h4><%= current_average_weight(days=30) %></h4></td>
            <td><h4><%= current_average_weight(days=91) %></h4></td>
            <td><h4><%= current_average_weight(days=365) %></h4></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>

    <h2>Chart</h2>
    <hr>
    <div id="weight-plot"></div>
  </div>
</div>