<%= include_gon(:init => true) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Self-Metrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icons8-pass-fail.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
