<%= include_gon(:init => true) %>

<!DOCTYPE html>
<html>
  <head>
    <title>Self-Metrics<%= " [DEV]" unless production? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icons8-pass-fail.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <% unless flash.empty? %>
      <div id="flashbar-spacer"></div>
    <% end %>

    <div class='fixed-top'>
      <%= render "layouts/dev_banner" unless production? %>
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
    </div>
    <br>

    <div id="header-spacer"></div>
    <% unless production? %>
      <div id="dev-banner-spacer"></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
